# 一、处理缺失数据

In [1]:
#导包
import numpy as np
import pandas as pd 
import matplotlib as plt

In [2]:
#pandas使用浮点值NaN（Not a Number）表示缺失数据
string_data = pd.Series(['aardvark', 'artichoke', np.nan, 'avocado'])
string_data

0     aardvark
1    artichoke
2          NaN
3      avocado
dtype: object

In [3]:
#（1）
#判断是否为空isnull()
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

一些关于缺失值数据处理的函数  
- dropna：根据标签中的值是否存在缺失数据对轴标签进行过滤，可通过阈值调节对缺失值的容忍度；
- fillna：用指定值或插值方法(如ffill或bfill)填充缺失数据；
- notnull：isnull的否定式；

***

## 滤除缺失值

In [4]:
#Series
from numpy import nan as NA
data = pd.Series([1, NA, 3.5, NA, 7])  
data.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

In [5]:
#DataFrame
#你可能希望丢弃全NA或含有NA的行或列,dropna默认丢弃任何含有缺失值的行
data = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA],
                    [NA, NA, NA], [NA, 6.5, 3.]])
cleaned = data.dropna()
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [6]:
#过滤后
cleaned

     0    1    2
0  1.0  6.5  3.0

In [7]:
#传入how='all'将只丢弃全为NA的那些行(即将第2行删除)
data.dropna(how='all')
#若要对列操作，则只需传入axis=1即可
#data.dropna(axis=1, how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0